# Arquivos Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# Certificados 
/certs

# Logs 
/logs

# Dados persistentes
grafana/
loki/data/